<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amadon</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'shop/css/style.css' %}">
</head>
<body>
<h1>Amadon Store</h1>
<a href="clear"><button>Clear history of shopping</button></a>
<table>
    <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    {% for item in items %}
        <tr>
            <th class="name">{{ item.name }}</th>
            <th class="price">{{ item.price }}</th>
            <th class="action">

                <form action="buy/{{item.id}}" method="POST" >
                     {% csrf_token %}
                    <select name="quantity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <input type="submit" value="Buy!">
                </form>
            </th>
        </tr>
    {% endfor %}

</table>
</body>
</html>