<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main_app/css/index.css' %}">
</head>
<body>
    <h1>Users</h1>
    <table>
        <tr>
            <th>id</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td><a href="{% url 'handle_user' id_user=user.id %}">{{user.first_name}}  {{user.last_name}}</a></td>
                <td>{{user.email}}</td>
                <td>{{user.created_at}}</td>
                <td><a href="{% url 'handle_user' id_user=user.id %}">Show</a> <a href="{% url 'edit_view' id_user=user.id %}">Edit</a> <a href="{% url 'destroy_user' id_user=user.id %}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="{% url 'new_user' %}">Add a new user</a>
</body>
</html>